<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".manager.AddUserActivity"
            android:exported="true"/>
        <activity
            android:name=".manager.ManagerMainActivity"
            android:exported="true" />
        <activity android:name=".OrderSummary.OrderActivity" />
        <activity
            android:name=".menu.MenuActivityOrder"
            android:exported="true" />
        <activity android:name=".menu.MenuActivityParcel"
            android:exported="true"/>
        <activity android:name=".OrderSummary.ParcelActivity"/>
        <activity android:name=".manager.ManagerParcelActivity"/>
        <activity
            android:name=".ActivityForTable"
            android:exported="true" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".chef.ChefMainActivity"
            android:exported="true" />
        <activity android:name=".manager.BillPaymentActivity"
            android:exported="true"/>
        <activity android:name=".manager.ManagerActivityForTable"
            android:exported="true"/>
        <activity android:name=".manager.ManagerOrderActivity"/>
        <activity android:name=".manager.UserDisplayActivity"/>
        <activity android:name=".manager.ManagerChefMainActivity"
            android:exported="true"/>

    </application>

</manifest>